<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} {{ project_name }} - Application {% endblock %}</title>
        {% block stylesheets %} {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% stylesheets filter="scssphp" output="css/application.css"
                "assets/scss/vendor/*.scss"
                "assets/scss/app/*.scss"
                "assets/css/vendor/*.css"
                "assets/css/app/*.css"
                "@AppBundle/Resources/public/css/*"
                "@AppBundle/Resources/public/scss/*"
                "@UserBundle/Resources/public/css/*"
                "@UserBundle/Resources/public/scss/*"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        {% block body %}{% endblock %}
            {% javascripts filter="?jsqueeze" output="js/application.js"
                "assets/js/vendor/jquery.js"
                "assets/js/vendor/bootstrap.js"
                "assets/js/vendor/*.js"
                "assets/js/app/*.js"
                "@AppBundle/Resources/public/js/*"
                "@UserBundle/Resources/public/js/*"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% block javascripts %}   {% endblock %}
    </body>
</html>
